/* Form */
form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
form h1{
    text-align: center;
    margin-bottom: 20px;
}
form label, #mensagem{
    display: block;
    margin-bottom: 10px;
}
form input, #mensagem{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}